<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - You get it at Shoey!</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="icon" type="image/x-icon" href="@Url.Content("~/Content/assets/logo.svg")">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <style>
    </style>
</head>
<body>
    <!-- Toast for Notifications -->
    <div id="position" class="toast-container p-3 d-none">
        <div id="notificationToast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div class="toast-body">
                    <span id="toastMessage"></span>
                </div>
                <button type="button" class="btn-close btn-close-white me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <!-- Register Modal -->
    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @Html.Partial("~/Views/Register/Register.cshtml", new shoeyStore.Models.ViewModels.ClientViewModel());
    </div>
    <!-- Login Modal -->
    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        @Html.Partial("~/Views/Login/Login.cshtml");
    </div>
    @* Header *@
    <header>
        <div class="container-fluid d-flex justify-content-between bg-light">
            @* Logo *@
            <a href="@Url.Content("~/Home")" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                <div>
                    <img src="@Url.Content("~/Content/assets/logo.svg")" alt="logo" class="logo m-2" style="height: 75px; width: 75px;" />
                </div>
            </a>
            @* Login *@
            <div class="d-flex justify-content-end align-items-center">
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#registerModal">
                    Register
                </button>
                <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#loginModal">
                    Log In
                </button>
                @* Cart *@
                <div>
                    <button class="btn btn-success rounded-circle m-3" data-bs-toggle="modal" data-bs-target="#loginModal">
                        <i class="bi bi-cart-fill m-2 fs-4"></i>
                    </button>
                </div>
            </div>
        </div>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white mb-3 d-flex justify-content-center">
            <div>
                @* Navigation *@
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse">
                    <ul class="navbar-nav flex-grow-1 px-4">
                        <li class="nav-item d-block">
                            <a href="@Url.Content("~/ItemNavigation?gender=M")" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Men</a>
                        </li>
                        <li class="nav-item d-block">
                            <a href="@Url.Content("~/ItemNavigation?gender=F")" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Women</a>
                        </li>
                        <li class="nav-item d-block">
                            <a href="@Url.Content("~/ItemNavigation?gender=U")" class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Unisex</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="min-vh-100">
        @RenderBody()
    </div>

    <footer class="bg-black text-white py-3 mb-0">
        <div class="container-fluid row">
            <div class="col-md-4 p-5">
                <p>LOGO</p>
                <p class="text-wrap lh-1 fs-sm">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                </p>
            </div>
            <div class="col-md-8 p-5 d-flex justify-content-end">
                <div class="row">
                    <div class="col-md-4">
                        <h5>About Us</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">News</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Investors</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Support</h5>
                        <ul class="list-unstyled">
                            <li><a href="#">Contact Us</a></li>
                            <li><a href="@Url.Content("~/SellerLogin/Register")">Become seller</a></li>
                            <li><a href="@Url.Content("~/SellerLogin")">Seller Portal</a></li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <h5>Follow Us!</h5>
                        <ul class="d-inline-flex list-unstyled">
                            <li><a href="#"><i class="bi bi-facebook p-2 fs-4"></i></a></li>
                            <li><a href="#"><i class="bi bi-instagram p-2 fs-4"></i></a></li>
                            <li><a href="#"><i class="bi bi-youtube p-2 fs-4"></i></a></li>
                            <li><a href="#"><i class="bi bi-tiktok p-2 fs-4"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container d-flex justify-content-between text-muted">
            <p>&copy; 2023 - Shoey Store S.A. - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy Policy</a></p>
            <p>ULACIT</p>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    @RenderSection("scripts", required: false)

    <script>
        //Function to show an alert
        function displayToast(message, background) {
            var toastContainer = document.getElementById('notificationToast');
            var toastMessage = document.getElementById('toastMessage');
            var position = document.getElementById('position');

            //Set the position
            //Position is added here because if added when initialized the exit button shows static on startup
            position.classList.remove('d-none')
            position.classList.add('top-0', 'end-0')
            // Set the message content
            toastMessage.innerHTML = message;
            toastContainer.classList.remove(...toastContainer.classList);
            toastContainer.classList.add('toast', `text-bg-${background}`);

            // Create a new Toast instance and show it
            var toast = new bootstrap.Toast(toastContainer);
            toast.show();
        }

        const urlParams = new URLSearchParams(window.location.search);
        const showToast = urlParams.get('showToast');
        switch (showToast) {
            case "registrationSuccessful":
                displayToast("Your registration was successful! You may login now.", "success")
                var loginModal = new bootstrap.Modal(document.getElementById('loginModal'));
                loginModal.show();
                break;
        }

    </script>

</body>
</html>
