@model List<shoeyStore.Models.ViewModels.ProductTableViewModel>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_LayoutSellerAdmin.cshtml";
}

<main class="p-5">
    <div class="d-flex justify-content-end">
        <button class="btn btn-success" onclick="document.location.href = '@Url.Content("~/SellerAdmin/AddProduct")'"><i class="bi bi-plus-circle-fill text-white p-2"></i> Add</button>
    </div>
    <div class="container mt-4">
        <div class="row">
            @if (Model != null)
            {
                foreach (var product in Model)
                {
                    <div class="col-md-3 mb-4">
                        <div class="card h-100">
                            <img src="data:image/jpeg;base64,@Convert.ToBase64String(product.Imagen)" class="card-img-top" alt="Product Image">
                            <div class="card-body">
                                <h5 class="card-title">@product.ItemName</h5>
                                <p class="card-text">
                                    <strong>Descripcion:</strong> @product.Nombre<br />
                                    <!-- Add more product details as needed -->
                                </p>
                                <div class="btn-group" role="group">
                                    <a href="@Url.Action("EditProduct", "SellerAdmin", new { id = product.IDProducto })" class="btn btn-primary">Edit</a>
                                    <a onclick="deleteProduct(@product.IDProducto)" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>

</main>

    <script>
        function deleteProduct(Id) {
            if (confirm("Do you want to delete this item?")) {
                let url = "@Url.Content("~/SellerAdmin/DeleteProduct/")" + Id;
                console.log(url)
                $.post(url, function (response) {
                    console.log(response)
                    if (response == "200") {
                        document.location.href = "@Url.Content("~/SellerAdmin/Products")";
                        alert("Deleted successfully.");
                    } else {
                        alert("Error: " + response)
                    }

                })
            }
        }

    </script>


